body {
  font-family: "Inter", sans-serif;
}

header {
  padding: 46px 100px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
  background: var(--second-white);
}

:root {
  --light-brown: rgba(129, 114, 83, 1);
  --second-brown: rgba(85, 59, 51, 1);
  --brown: rgba(47, 36, 31, 1);
  --black: rgba(0, 0, 0, 1);
  --light-green: rgba(229, 240, 182, 1);
  --transparent-green: rgba(229, 240, 182, 0.5);
  --white: rgba(252, 250, 250, 1);
  --second-white: rgba(255, 255, 255, 1);
  --transparent-white: rgba(255, 255, 255, 0.5);
  --gray: rgba(102, 112, 133, 1);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dekoor-icon {
  display: flex;
  align-items: center;
  gap: 12.7px;
}

.dekoor-icon-text {
  font-size: 30px;
  color: var(--brown);
  font-weight: 800;
}

.nav-list {
  display: flex;
  gap: 64px;

  a {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
  }
}

.header-btns {
  display: flex;
  gap: 16px;
}

.sign-in_btn {
  width: 107px;
  height: 48px;
  border-radius: 8px;
  background: var(--light-green);
}

.cart-btn {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: var(--second-brown);
}

.burger {
  padding-top: 10px;
  display: none;
}

.welcome-heading {
  max-width: 712px;
  font-size: clamp(32px, 5vw, 72px);
  font-weight: 800;
  letter-spacing: -1%;
  text-align: left;
}

.welcome-section__main {
  padding-top: clamp(32px, 11.1vw, 160px);
  padding-left: 142px;
  padding-right: 16px;
}

.search-btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 24px;
}

.search-btns button {
  width: 344px;
  height: 80px;
}

.search-icon {
  width: 24px;
  height: 24px;
}
.play-icon {
  width: 24px;
  height: 24px;
}

.search-catalog_btn {
  padding: clamp(24px, 2.5vw, 36px) clamp(16px, 1.5vw, 22px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 12px;
  background: var(--light-green);
  font-size: clamp(14px, 1.6vw, 24px);
  font-weight: 400;
  line-height: 36px;
  color: var(--second-brown);
  text-transform: uppercase;
}

.watch-video_btn {
  padding: clamp(24px, 2.5vw, 36px) clamp(16px, 1.5vw, 22px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-sizing: border-box;
  border: 1px solid var(--second-brown);
  border-radius: 12px;
  color: var(--second-brown);
  font-size: clamp(14px, 1.6vw, 24px);
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.welcome-section__wrapper {
  display: flex;
  justify-content: space-between;
}

.welcome-section__product {
  width: 522px;
  min-height: 709px;
  background-image: url(../images/sofa.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sofa-price {
  margin-top: 413px;
  margin-left: 48px;
  width: 93px;
  height: 52px;
  padding: 8px 16px 8px 16px;
  border-radius: 12px;
  background: var(--transparent-white);
  color: var(--brown);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.sofa-name {
  color: var(--second-white);
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  margin-left: 48px;
  margin-top: 8px;
}

.view-details-btn {
  width: 197px;
  height: 56px;
  border-radius: 12px;
  background: var(--brown);
  color: var(--second-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 48px;
  margin-top: 16px;
  text-transform: uppercase;
}

.view-details-btn img {
  margin-left: 16px;
}

.why-choose {
  display: flex;
  width: 100%;
  min-height: 486px;
  background-color: var(--brown);
}

.why-choose_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: clamp(20px, 9.4vw, 220px);
  padding-right: 20px;
}

.why-choose_heading {
  color: var(--light-green);
  font-size: clamp(14px, 2.6vw, 24px);
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.why-choose-text {
  margin-top: 40px;
  color: var(--light-green);
  font-family: Inter;
  font-size: clamp(24px, 4.4vw, 64px);
  font-weight: 700;
  max-width: 1156px;
}

.our-achievements_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: clamp(16px, 4.4vw, 64px);
}

.achievement {
  display: flex;
  align-items: center;
  gap: 16px;

  .white-magnifier-icon,
  .bag-icon {
    padding: 8px;
    border-radius: 8px;
    background: var(--transparent-green);
  }
}

.achievement-text {
  max-width: 290px;
  color: var(--light-green);
  font-family: Inter;
  font-size: clamp(15px, 1.6vw, 24px);
  font-weight: 700;
  text-transform: uppercase;
}

.five-icon {
  padding: 3px 13px;
  border-radius: 8px;
  background: var(--transparent-green);
  color: var(--second-white);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.our-partners {
  padding-top: clamp(24px, 5.5vw, 80px);
  padding-bottom: clamp(40px, 5.5vw, 80px);
  background: var(--white);
}

.our-partners_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.number-of-partners_wrapper {
  .number-of-partners {
    color: var(--brown);
    font-family: Inter;
    font-size: clamp(24px, 9.6vw, 96px);
    font-weight: 700;
    letter-spacing: -5%;
    text-align: left;
  }

  .partnered-brands {
    color: var(--brown);
    font-size: clamp(14px, 2vw, 24px);
    font-weight: 400;
    margin-top: clamp(4px, 0.6vw, 10px);
    text-transform: uppercase;
  }
}

.brands {
  display: flex;
  align-items: center;
  gap: clamp(39px, 8.1vw, 88px);
}

.gusto-logo {
  width: clamp(48px, 9.2vw, 105px);
  height: auto;
}

.stripe-logo {
  width: clamp(40px, 8vw, 85px);
  height: auto;
}

.treehouse-logo {
  width: clamp(82px, 14.3vw, 178px);
  height: auto;
}

.upwork-logo {
  width: clamp(57px, 10.5vw, 123.5px);
  height: auto;
}

.categories {
  padding-top: 80px;
  padding-bottom: 80px;
}

.categories__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories_list {
  padding-right: 143px;
}

.categories_images {
  display: flex;
  flex-wrap: nowrap;
}

.categories_images img {
  margin-right: 24px;
}

.categories_heading {
  color: var(--brown);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1%;
}

.categories_subtitle {
  max-width: 434px;
  margin-top: clamp(8px, 2.2vw, 32px);
  color: var(--brown);
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1%;
}

.main-categories-list {
  margin-top: 32px;
}

.categories_item_wrapper {
  width: clamp(303px, 30vw, 433px);
  height: 62px;
  background: var(--white);
  transition:
    1.1s ease,
    background-color 0.5s ease;
}

.category-name {
  color: var(--black);
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding-top: 20px;
  padding-left: 16px;
}

.category-title {
  max-width: 385px;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  padding-top: 12px;
  padding-left: 16px;
  opacity: 0;
  transition: 0.5s ease;
}

.categories_item_wrapper:hover {
  width: clamp(303px, 30vw, 433px);
  height: 121px;
  background: var(--light-green);
}

/* Показываем текст при наведении */
.categories_item_wrapper:hover .category-title {
  opacity: 1;
  transition: 3s ease;
}

.our-products {
  background: var(--brown);
}

.our-products-heading_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 143px;
}

.our-products_heading {
  color: var(--light-green);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1%;
  text-align: left;
}

.best-seller-text {
  color: var(--light-green);
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1%;
  text-align: left;
}

.our-products_btn {
  width: 153px;
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 36px 10px 36px;
  border-radius: 12px;
  background: var(--light-green);
  margin-right: 142px;
}

.best-sellers {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  gap: 36px;
}

.best-sellers img {
  width: 300px;
  height: 400px;
}

.orange-sofa {
  width: 354px;
  height: 472px;
  background-image: url(../images/orange-sofa.png);
  background-repeat: no-repeat;
  position: relative;
}

.carousel-arrows {
  display: flex;
  gap: 36px;
  justify-content: flex-end;
  padding-right: 141px;
  padding-bottom: 56px;
}

.carousel-arrow {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8;
  padding: 16px;
  border-radius: 62px;
  background: var(--light-green);
}

.orange-sofa-price {
  width: 93px;
  height: 52px;
  padding: 8px 16px 8px 16px;
  border-radius: 12px;
  background: var(--transparent-white);
  color: var(--brown);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 318px;
  margin-left: 24px;
}

.orange-sofa-name {
  color: var(--second-white);
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-top: 8px;
  margin-left: 24px;
}

.limited-deals {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 42;
  padding: 80px 142px 80px 142px;
}

.limited-deals_heading {
  color: var(--brown);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.limited-deals_subtitle {
  max-width: 1156px;
  color: var(--brown);
  font-style: Bold;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  margin-top: 42px;
}

.email-input_wrapper {
  display: flex;
  margin-top: 42px;
}

.email-input {
  width: 503px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8;
  padding: 22px 36px 22px 36px;
  background: var(--second-white);
  border-radius: 10px 0px 0px 10px;
}

.email-wrapper {
  width: 80px;
  height: 80px;
  padding: 28px;
  background: var(--light-green);
  border-radius: 0px 10px 10px 0px;
}

footer {
  padding: 93px 100px 93px 100px;
}

.footer-dekoor-icon {
  display: flex;
  align-items: center;
}

.footer-dekoor-icon img {
  width: 29px;
  height: 29px;
}

.footer-dekoor-icon-text {
  font-weight: bold;
  margin-left: 7px;
}

.about-company {
  max-width: 504px;
  margin-top: 28.5px;
  color: var(--gray);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.copyright {
  color: var(--gray);
  margin-top: 69px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-us {
  display: flex;
  gap: 52px;
}

.footer-link {
  display: block;
  margin-top: 30px;
  color: var(--gray);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 1465px) {
  .categories {
    display: flex;
    justify-content: center;
    padding-top: clamp(24px, 5.5vw, 80px);
    padding-bottom: clamp(24px, 5.5vw, 80px);
  }
  .categories__wrapper {
    flex-direction: column-reverse;
  }

  .categories_subtitle {
    text-align: center;
  }

  .categories_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
  }

  .categories_images {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding-left: 16px;
  }
}

@media (max-width: 1125px) {
  header {
    padding: 25px;
  }
  .welcome-section__product {
    display: none;
  }

  .welcome-heading {
    text-align: center;
  }

  .welcome-section__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .welcome-section__main {
    padding-top: clamp(32px, 11.1vw, 160px);
    padding-left: clamp(16px, 1.5vw, 142px);
  }

  .search-btns {
    display: flex;
    justify-content: center;
  }

  .search-btns button {
    width: clamp(282px, 23.9vw, 344px);
    height: clamp(56px, 5.5vw, 80px);
  }

  .categories_heading {
    font-size: clamp(14px, 2.1vw, 24px);
  }

  .categories_subtitle {
    font-size: clamp(18px, 4.2vw, 48px);
  }

  .categories_images img:nth-child(3) {
    width: clamp(103px, 30vw, 472px);
    height: clamp(132px, 41.9vw, 523px);
  }

  .categories_images img:nth-child(2) {
    width: clamp(103px, 13.1vw, 148px);
    height: clamp(132px, 41.9vw, 523px);
  }

  .categories_images img:nth-child(1) {
    width: clamp(103px, 13.1vw, 148px);
    height: clamp(132px, 41.9vw, 523px);
  }

  .categories_images img {
    margin-right: 16px;
  }
}

@media (max-width: 975px) {
  .nav-list {
    display: none;
  }

  .burger {
    display: block;
  }

  .categories_subtitle {
    max-width: 314px;
  }
}

@media (max-width: 490px) {
  .dekoor-icon img {
    width: 32px;
    height: 32px;
  }

  .dekoor-icon-text {
    font-size: 23px;
  }

  .categories_subtitle {
    max-width: 254px;
  }

  .burger {
    padding-top: 4px;
  }

  .sign-in_btn {
    display: none;
  }

  .cart-btn {
    width: 36px;
    height: 36px;
  }

  .cart-btn img {
    width: 20px;
    height: auto;
  }

  .brands {
    margin-top: 24px;
  }

  .number-of-partners {
    display: flex;
    justify-content: center;
  }

  .why-choose_heading {
    display: flex;
    justify-content: center;
  }

  .why-choose-text {
    text-align: center;
  }
}
