body {
  font-family: "Inter", sans-serif;
}

header {
  padding: 46px 100px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
  background: rgba(255, 255, 255, 1);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dekoor-icon {
  display: flex;
  align-items: center;
  gap: 12.7px;
}

.dekoor-icon-text {
  font-size: 30px;
  color: rgba(47, 36, 31, 1);
  font-weight: 800;
}

.nav-list {
  display: flex;
  gap: 64px;


a {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: left;
}

}

.header-btns {
  display: flex;
  gap: 16px;
}

.sign-in_btn {
  width: 107px;
  height: 48px;
  border-radius: 8px;
  background: rgba(229, 240, 182, 1);
}

.cart-btn {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: rgba(85, 59, 51, 1);
}

.welcome-heading {
  font-size: 72px;
  font-weight: 800;
  line-height: 87px;
  letter-spacing: -1%;
  text-align: left;
}

.welcome-section__main {
  padding-top: 160px;
  padding-left: 142px;
}

.search-btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 24px;
}

.search-catalog_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 344px;
  height: 80px;
  border-radius: 12px;
  background: rgba(229, 240, 182, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(85, 59, 51, 1);
  text-transform: uppercase;
}

.watch-video_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 344px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(85, 59, 51, 1);
  border-radius: 12px;
  color: rgba(85, 59, 51, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.welcome-section__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome-section__product {
  width: 522px;
  height: 709px;
  background-image: url(../images/sofa.png);
  position: relative;
}

.sofa-price {
  margin-top: 413px;
  margin-left: 48px;
  width: 93px;
  height: 52px;
  padding: 8px 16px 8px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(47, 36, 31, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.sofa-name {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  margin-left: 48px;
  margin-top: 8px;
}

.view-details-btn {
  width: 197px;
  height: 56px;
  border-radius: 12px;
  background: rgba(47, 36, 31, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 48px;
  margin-top: 16px;
  text-transform: uppercase;
}

.view-details-btn img {
  margin-left: 16px;
}

.why-choose{
  width: 100%;
  height: 486px;
  background-color: rgba(47, 36, 31, 1);
}

.why-choose_wrapper{
  padding-top: 72px;
  padding-left: 222px;
}

.why-choose_heading{
  color: rgba(229, 240, 182, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.why-choose-text{
  margin-top: 40px;
  color: rgba(229, 240, 182, 1);
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}

.our-achievements_wrapper{
  display: flex;
  margin-top: 40px;
  gap: 64px;
}

.achievement{
  display: flex;
  align-items: center;
  gap: 16px;

  .white-magnifier-icon, .bag-icon{
  padding: 8px;
  border-radius: 8px;
  background: rgba(229, 240, 182, 0.5);
}

}

.achievement-text{
  color: rgba(229, 240, 182, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}


.five-icon{
  padding: 3px 13px;
  border-radius: 8px;
  background: rgba(229, 240, 182, 0.5);
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.our-partners{
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgba(252, 250, 250, 1);
}

.our-partners_wrapper{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.number-of-partners_wrapper{
  .number-of-partners{
    color: rgba(47, 36, 31, 1);
    font-family: Inter;
    font-size: 96px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: -5%;
    text-align: left;
  }

  .partnered-brands{
  color: rgba(47, 36, 31, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
}
}





.brands{
  display: flex;
  align-items: center;
  gap: 88px;
}

.categories{
  padding-top: 80px;
  padding-bottom: 80px;
}


.categories__wrapper{
  display: flex;
  padding-top: 80px;
}

.categories_images img{
  margin-right: 24px;
}

.categories_heading{
  color: rgba(47, 36, 31, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1%;
  margin-left: 48px;
}

.categories_subtitle{
  margin-left: 48px;
  margin-top: 32px;
  color: rgba(47, 36, 31, 1);
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1%;
}

.main-categories-list{
  margin-top: 32px;
}

.categories_item_wrapper{
  margin-left: 48px;
  width: 433px;
  height: 62px;
  background: rgba(252, 250, 250, 1);
  transition: 1.1s ease, background-color 0.5s ease;
}

.category-name{
  color: rgba(0, 0, 0, 1);
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding-top: 20px;
  padding-left: 16px;
}

.category-title{
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  padding-top: 12px;
  padding-left: 16px;
  opacity: 0;
  transition: 0.5s ease;
}


.categories_item_wrapper:hover {
  width: 433px;
  height: 121px;
  background: rgba(229, 240, 182, 1);
}

/* Показываем текст при наведении */
.categories_item_wrapper:hover .category-title {
  opacity: 1;
  transition: 3s ease;
}

.our-products{
  background: rgba(47, 36, 31, 1);
}

.our-products-heading_wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 143px;
}

.our-products_heading{
  color: rgba(229, 240, 182, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1%;
  text-align: left;
}

.best-seller-text{
  color: rgba(229, 240, 182, 1);
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1%;
  text-align: left;
}

.our-products_btn{
  width: 153px;
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 36px 10px 36px;
  border-radius: 12px;
  background: rgba(229, 240, 182, 1);
  margin-right: 142px;
}

.best-sellers{
  display: flex;
  justify-content: center;
  padding-top: 48px;
  gap: 36px;
}


.best-sellers img{
  width: 300px;
  height: 400px;
}

.orange-sofa{
  width: 354px;
  height: 472px;
  background-image: url(../images/orange-sofa.png);
  background-repeat: no-repeat;
  position: relative;
}

.carousel-arrows{
  display: flex;
  gap: 36px;
  justify-content: flex-end;
  padding-right: 141px;
  padding-bottom: 56px;
}

.carousel-arrow{
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8;
  padding: 16px;
  border-radius: 62px;
  background: rgba(229, 240, 182, 1);
}

.orange-sofa-price{
  width: 93px;
  height: 52px;
  padding: 8px 16px 8px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(47, 36, 31, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 318px;
  margin-left: 24px;
}

.orange-sofa-name{
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-top: 8px;
  margin-left: 24px;
}